body {
    padding: 0;
    margin: 0;
    background:#ccc;
    font-family: 'Roboto Condensed', sans-serif;
}
.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    margin: 0;
    padding: 0;
}

.btn a{
    text-decoration: none;
    display: block;
    width: 210px;
    height: 80px;
    background: #fff;
    text-align: left;
    color: #222222;
    padding-left: 20px;
    -webkit-box-shadow:-23px 23px 18px rgba(0,0,0,0.3);
    -moz-box-shadow:-23px 23px 18px rgba(0,0,0,0.3);
    box-shadow:-23px 23px 18px rgba(0,0,0,0.3);
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.btn a:before{
    content: '';
    position: absolute;
    left: -20px;
    top: 10px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transform:rotate(0) skewY(-45deg);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;


}
.btn a:after{
    content: '';
    position: absolute;
    left: -10px;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transform:rotate(0) skewX(-45deg);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition:  all .5s;

}
.btn a:hover{
    -webkit-transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px ,-15px);
    -moz-transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px ,-15px);
    -ms-transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px ,-15px);
    -o-transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px ,-15px);
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px ,-15px);
    box-shadow: -40px 40px 40px rgba(0,0,0,0.5);
    background: #3b5998;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition:  all .5s;

}
.fa{
    font-size: 40px;
    color: #262626;
    line-height:80px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition:  all .5s;
    padding-right: 14px;
}
.btn span{
    padding:0;
    margin:0;
    position:absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition:  all .5s;
}
.btn i{
    font-size:40px;
    color: #262626;
    line-height: 80px;
}
.btn:hover i,.btn:hover span{
    color: #fff;
}
.btn:hover a{
    background: #3b5998;
}
.btn:hover a:before{
    background:  #365492;
}
.btn:hover a:after{
    background:  #4a69ad;
}
